<a href="https://colab.research.google.com/github/roshanappa/Time-Series-Analysis-/blob/master/Dates_and_Times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# Times

In [30]:
date_range = pd.date_range(start='2011-01-01',end='2020-01-31',freq='D')

In [31]:
for i in date_range[:10]:
  print(i)

2011-01-01 00:00:00
2011-01-02 00:00:00
2011-01-03 00:00:00
2011-01-04 00:00:00
2011-01-05 00:00:00
2011-01-06 00:00:00
2011-01-07 00:00:00
2011-01-08 00:00:00
2011-01-09 00:00:00
2011-01-10 00:00:00

Here,we can see the Freq we given the frequency is the terms of Days but if we required the frequency in the terms of year and month too.

In [32]:
date_range1 = pd.date_range(start='2011-01-01',end='2020-01-31',freq='M')

In [33]:
for i in date_range1[:10]:
  print(i)

2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00

In [34]:
date_range2 = pd.date_range(start='2011-01-01',end='2020-01-31',freq='Y')

In [35]:
for i in date_range2[:10]:
  print(i)

2011-12-31 00:00:00
2012-12-31 00:00:00
2013-12-31 00:00:00
2014-12-31 00:00:00
2015-12-31 00:00:00
2016-12-31 00:00:00
2017-12-31 00:00:00
2018-12-31 00:00:00
2019-12-31 00:00:00

Format of the date_range is avalible like below:-
`yy-MM-YY`.
- Lets try the different format of the  date_range.

Format = `YY/MM/DD`

In [36]:
date_range = pd.date_range(start='2012/01/01',end='2014/01/31',freq='Y')

In [37]:
for i in date_range[:5]:
  print(i)

2012-12-31 00:00:00
2013-12-31 00:00:00

In [84]:
print(date_range.month)
print(date_range.day)
print(date_range.year)

Int64Index([12, 12, 12], dtype='int64')
Int64Index([31, 31, 31], dtype='int64')
Int64Index([2012, 2013, 2014], dtype='int64')

Format = `2012 dec 31`

In [85]:
date_range = pd.date_range(start='2012 jan 31',end='2014 dec 31 ',freq='Y')

In [86]:
date_range.day_name()

Index(['Monday', 'Tuesday', 'Wednesday'], dtype='object')

In [88]:
date_range.month_name()

Index(['December', 'December', 'December'], dtype='object')

In [43]:
for i in date_range3:
  print(i)

2012-12-31 00:00:00
2013-12-31 00:00:00
2014-12-31 00:00:00

Format = `31 ,jan 2010`

In [44]:
date_range4 = pd.date_range(start='01 jan,2012',end='31 dec,2012',freq='M')

In [45]:
date_range4

DatetimeIndex(['2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
               '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
               '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31'],
              dtype='datetime64[ns]', freq='M')

In [61]:
series = pd.Series(data=range(12),index = pd.date_range(start='2020/01/01',end='2020/12/31',freq='M'))

In [62]:
series

2020-01-31     0
2020-02-29     1
2020-03-31     2
2020-04-30     3
2020-05-31     4
2020-06-30     5
2020-07-31     6
2020-08-31     7
2020-09-30     8
2020-10-31     9
2020-11-30    10
2020-12-31    11
Freq: M, dtype: int64

In [82]:
date_range11 = pd.date_range(start='2020-01-01',end='2020-12-31',periods=3)
date_range11

DatetimeIndex(['2020-01-01 00:00:00', '2020-07-01 12:00:00',
               '2020-12-31 00:00:00'],
              dtype='datetime64[ns]', freq=None)

# Resampling.

In [66]:
series.resample('2M').mean()

2020-01-31     0.0
2020-03-31     1.5
2020-05-31     3.5
2020-07-31     5.5
2020-09-30     7.5
2020-11-30     9.5
2021-01-31    11.0
Freq: 2M, dtype: float64

# TIME STAMPS VS TIME SPANS

In [46]:
pd.Timestamp('2010/01/01')

Timestamp('2010-01-01 00:00:00')

In [48]:
timestamp=pd.Timestamp('2020/01/01 12:12:23')

In [49]:
timestamp.day

1

In [55]:
timestamp.month

1

# Period

In [67]:
pd.Period('2020/01/31')

Period('2020-01-31', 'D')

In [68]:
pd.Period('2020/01/31 01:12:00')

Period('2020-01-31 01:12:00', 'S')

In [69]:
prd = pd.Period(freq ='D', year = 2001, month = 1, day = 21)

In [70]:
print(prd)

2001-01-21

# Time Offsets.

**TimeDelta**
It is help to add the time values.

In [89]:
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [91]:
timeDelta=pd.Period('2001-01-01') + pd.Timedelta('1 day')

In [92]:
timeDelta.day

2

In [95]:
# FANCY FREQUENCY SETTING
# Only want business days

pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [96]:

# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [97]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [98]:
print(p1)

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [99]:
print(p2)

PeriodIndex(['2016-01-01 10:00', '2016-01-02 11:00', '2016-01-03 12:00',
             '2016-01-04 13:00', '2016-01-05 14:00', '2016-01-06 15:00',
             '2016-01-07 16:00', '2016-01-08 17:00', '2016-01-09 18:00',
             '2016-01-10 19:00'],
            dtype='period[25H]', freq='25H')

In [100]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int64

In [101]:

# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

2016-01   -2.042908
2016-02    1.119775
2016-03   -0.156843
Freq: M, dtype: float64

In [102]:

# What type is the index for ts?
type(ts.index)

pandas.core.indexes.period.PeriodIndex

In [103]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int64

In [104]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int64

In [105]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int64

In [106]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
Freq: H, dtype: int64